# 1. Data Analysis
- isna(), info(), decribe(), crosstab()
- plots
- correlation matrix 
- sort data by date

In [107]:
import numpy as np
import pandas as pd

In [108]:
df = pd.read_csv('kidney_disease.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [109]:
df.shape

(400, 26)

In [110]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

# 2. Clean Data
- Dropping rows and columns based on null values

In [111]:
df.drop(['id'], axis=1, inplace=True)

In [112]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [113]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [114]:
df.columns = ['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'hemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia', 'class']

In [115]:
df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

# 3. Handling Features
- Check isna().sum() for each feature, if not significant proceed
- Make the feature ready for one hot encoding
- Remove unique values which has less number of counts
- Modify and clean the values in each feature column accordingly

In [116]:
df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [117]:
df.dtypes

age                        float64
blood_pressure             float64
specific_gravity           float64
albumin                    float64
sugar                      float64
red_blood_cells             object
pus_cell                    object
pus_cell_clumps             object
bacteria                    object
blood_glucose_random       float64
blood_urea                 float64
serum_creatinine           float64
sodium                     float64
potassium                  float64
hemoglobin                 float64
packed_cell_volume          object
white_blood_cell_count      object
red_blood_cell_count        object
hypertension                object
diabetes_mellitus           object
coronary_artery_disease     object
appetite                    object
pedal_edema                 object
anemia                      object
class                       object
dtype: object

In [118]:
# Few columns are of object type, we need to convert them to numeric type
df['packed_cell_volume'] = pd.to_numeric(df['packed_cell_volume'], errors='coerce')
df['white_blood_cell_count'] = pd.to_numeric(df['white_blood_cell_count'], errors='coerce')
df['red_blood_cell_count'] = pd.to_numeric(df['red_blood_cell_count'], errors='coerce')

In [119]:
df.dtypes

age                        float64
blood_pressure             float64
specific_gravity           float64
albumin                    float64
sugar                      float64
red_blood_cells             object
pus_cell                    object
pus_cell_clumps             object
bacteria                    object
blood_glucose_random       float64
blood_urea                 float64
serum_creatinine           float64
sodium                     float64
potassium                  float64
hemoglobin                 float64
packed_cell_volume         float64
white_blood_cell_count     float64
red_blood_cell_count       float64
hypertension                object
diabetes_mellitus           object
coronary_artery_disease     object
appetite                    object
pedal_edema                 object
anemia                      object
class                       object
dtype: object

In [120]:
null_counts = df.isnull().sum()
sorted_counts = null_counts.sort_values(ascending=False)
sorted_counts

red_blood_cells            152
red_blood_cell_count       131
white_blood_cell_count     106
potassium                   88
sodium                      87
packed_cell_volume          71
pus_cell                    65
hemoglobin                  52
sugar                       49
specific_gravity            47
albumin                     46
blood_glucose_random        44
blood_urea                  19
serum_creatinine            17
blood_pressure              12
age                          9
bacteria                     4
pus_cell_clumps              4
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
class                        0
dtype: int64

## diabetes_mellitus

In [121]:

df['diabetes_mellitus'].unique()

array(['yes', 'no', ' yes', '\tno', '\tyes', nan], dtype=object)

In [122]:
df['diabetes_mellitus'] = df['diabetes_mellitus'].replace({'\tno': 'no', '\tyes': 'yes', ' yes': 'yes'})
df['diabetes_mellitus'].unique()

array(['yes', 'no', nan], dtype=object)

In [123]:
df.groupby('diabetes_mellitus')['diabetes_mellitus'].count()

diabetes_mellitus
no     261
yes    137
Name: diabetes_mellitus, dtype: int64

In [124]:
df['diabetes_mellitus'].isna().sum()

2

In [125]:
# only two rows have missing values, we can habdle them by replacing with the most frequent value
df['diabetes_mellitus'].fillna('no', inplace=True)  
df['diabetes_mellitus'].isna().sum()

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\3283688657.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['diabetes_mellitus'].fillna('no', inplace=True)

0

## coronary_artery_disease

In [126]:
df['coronary_artery_disease'].unique()

array(['no', 'yes', '\tno', nan], dtype=object)

In [127]:
# replace the values with correct ones
df['coronary_artery_disease'] = df['coronary_artery_disease'].replace({'\tno': 'no', 'yes': 'yes'})
df['coronary_artery_disease'].unique()

array(['no', 'yes', nan], dtype=object)

In [128]:
df['coronary_artery_disease'].isna().sum()

2

In [129]:
df.groupby('coronary_artery_disease')['coronary_artery_disease'].count()

coronary_artery_disease
no     364
yes     34
Name: coronary_artery_disease, dtype: int64

In [130]:
# only one row has missing value, we can handle it by replacing with the most frequent value
df['coronary_artery_disease'].fillna('no', inplace=True)

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\3823874646.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['coronary_artery_disease'].fillna('no', inplace=True)

In [131]:
df['coronary_artery_disease'].isna().sum()

0

## class

In [132]:
df['class'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [133]:
# replace the values with correct ones
df['class'] = df['class'].replace({'ckd\t': 'ckd', 'ckd': 'ckd', 'notckd': 'notckd'})
df['class'].unique()

array(['ckd', 'notckd'], dtype=object)

In [134]:
# check for missing values
df['class'].isna().sum()

0

## packed_cell_volume

In [135]:
df['packed_cell_volume'].dtype

dtype('float64')

In [136]:
df['packed_cell_volume'].isna().sum()

71

In [137]:
# missing value, we can handle it by replacing with the mean value
df['packed_cell_volume'].fillna(df['packed_cell_volume'].mean(), inplace=True)

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\919398972.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['packed_cell_volume'].fillna(df['packed_cell_volume'].mean(), inplace=True)

In [138]:
df['packed_cell_volume'].isna().sum()

0

## white_blood_cell_count

In [139]:
df['white_blood_cell_count'].dtype

dtype('float64')

In [140]:
df['white_blood_cell_count'].isna().sum()

106

In [141]:
# missing value, we can handle it by replacing with the mean value
df['white_blood_cell_count'].fillna(df['white_blood_cell_count'].mean(), inplace=True)

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\1155416066.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['white_blood_cell_count'].fillna(df['white_blood_cell_count'].mean(), inplace=True)

In [142]:
df['white_blood_cell_count'].isna().sum()

0

## red_blood_cell_count

In [143]:
df['red_blood_cell_count'].dtype

dtype('float64')

In [144]:
df['red_blood_cell_count'].isna().sum()

131

In [145]:
# missing value, we can handle it by replacing with the mean value
df['red_blood_cell_count'].fillna(df['red_blood_cell_count'].mean(), inplace=True)

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\2611244662.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['red_blood_cell_count'].fillna(df['red_blood_cell_count'].mean(), inplace=True)

In [146]:
# check for missing values
df.isna().sum()

age                          9
blood_pressure              12
specific_gravity            47
albumin                     46
sugar                       49
red_blood_cells            152
pus_cell                    65
pus_cell_clumps              4
bacteria                     4
blood_glucose_random        44
blood_urea                  19
serum_creatinine            17
sodium                      87
potassium                   88
hemoglobin                  52
packed_cell_volume           0
white_blood_cell_count       0
red_blood_cell_count         0
hypertension                 2
diabetes_mellitus            0
coronary_artery_disease      0
appetite                     1
pedal_edema                  1
anemia                       1
class                        0
dtype: int64

## Handling missing values for cat columns and num columns

In [147]:
cat_cols = df.select_dtypes(include='object').columns
cat_cols

Index(['red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'hypertension', 'diabetes_mellitus', 'coronary_artery_disease',
       'appetite', 'pedal_edema', 'anemia', 'class'],
      dtype='object')

In [148]:
# handling missing values for categorical columns by replacing with the most frequent value
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

df.isna().sum()

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\74324243.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

age                         9
blood_pressure             12
specific_gravity           47
albumin                    46
sugar                      49
red_blood_cells             0
pus_cell                    0
pus_cell_clumps             0
bacteria                    0
blood_glucose_random       44
blood_urea                 19
serum_creatinine           17
sodium                     87
potassium                  88
hemoglobin                 52
packed_cell_volume          0
white_blood_cell_count      0
red_blood_cell_count        0
hypertension                0
diabetes_mellitus           0
coronary_artery_disease     0
appetite                    0
pedal_edema                 0
anemia                      0
class                       0
dtype: int64

In [149]:
# handling missing values for numerical columns by replacing with the mean value
num_cols = df.select_dtypes(include='number').columns
for col in num_cols:
    df[col].fillna(df[col].mean(), inplace=True)

df.isna().sum()

C:\Users\Gokuleshwaran\AppData\Local\Temp\ipykernel_10580\1332956545.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

age                        0
blood_pressure             0
specific_gravity           0
albumin                    0
sugar                      0
red_blood_cells            0
pus_cell                   0
pus_cell_clumps            0
bacteria                   0
blood_glucose_random       0
blood_urea                 0
serum_creatinine           0
sodium                     0
potassium                  0
hemoglobin                 0
packed_cell_volume         0
white_blood_cell_count     0
red_blood_cell_count       0
hypertension               0
diabetes_mellitus          0
coronary_artery_disease    0
appetite                   0
pedal_edema                0
anemia                     0
class                      0
dtype: int64

# 4. Feature engineering 
- Invent new features

In [150]:
#Nothing to add

# 5. Clean Data
- Outlier Removal

In [151]:
# Nothing to add

# 6. Split the data into x and y label

In [152]:
x = df.drop('class', axis=1)
y = df['class']

# 7. Split the data into x_train, x_test, y_train, y_test

In [153]:
# split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# 8. Handling missing values
- Dropping rows and columns based on null values
- Filling missing data with pandas
- Filling missing values with sklearn
- Add _is_missing column

In [154]:
# Nothing to add

# 9. Sort or Add columns 
- x_train.shape == x_valid.shape

In [155]:
# Check x_train.shape, x_test.shape, y_train.shape, y_test.shape
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((320, 24), (80, 24), (320,), (80,))

In [156]:
x_train.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
3,48.0,70.0,1.005000,4.000000,0.000000,normal,abnormal,present,notpresent,117.0,...,11.2,32.0,6700.000000,3.900000,yes,no,no,poor,yes,yes
18,60.0,100.0,1.025000,0.000000,3.000000,normal,normal,notpresent,notpresent,263.0,...,12.7,37.0,11400.000000,4.300000,yes,yes,yes,good,no,no
202,78.0,60.0,1.017408,1.016949,0.450142,normal,normal,notpresent,notpresent,114.0,...,8.0,24.0,8406.122449,4.707435,no,yes,no,good,no,yes
250,40.0,80.0,1.025000,0.000000,0.000000,normal,normal,notpresent,notpresent,140.0,...,15.0,48.0,10400.000000,4.500000,no,no,no,good,no,no
274,19.0,80.0,1.020000,0.000000,0.000000,normal,normal,notpresent,notpresent,107.0,...,14.4,44.0,8406.122449,4.707435,no,no,no,good,no,no

# 10. Feature scaling

In [157]:
x_train.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
3,48.0,70.0,1.005000,4.000000,0.000000,normal,abnormal,present,notpresent,117.0,...,11.2,32.0,6700.000000,3.900000,yes,no,no,poor,yes,yes
18,60.0,100.0,1.025000,0.000000,3.000000,normal,normal,notpresent,notpresent,263.0,...,12.7,37.0,11400.000000,4.300000,yes,yes,yes,good,no,no
202,78.0,60.0,1.017408,1.016949,0.450142,normal,normal,notpresent,notpresent,114.0,...,8.0,24.0,8406.122449,4.707435,no,yes,no,good,no,yes
250,40.0,80.0,1.025000,0.000000,0.000000,normal,normal,notpresent,notpresent,140.0,...,15.0,48.0,10400.000000,4.500000,no,no,no,good,no,no
274,19.0,80.0,1.020000,0.000000,0.000000,normal,normal,notpresent,notpresent,107.0,...,14.4,44.0,8406.122449,4.707435,no,no,no,good,no,no

# 11. Convert Categorical Features into Numericals 
- One hot encoder: Lasso or Ridge
- Label encoding: XGBoost and RandomForest
- Lower cardinality columns: One hot encoding
- High cardinality columns: Target encoding, Ordinal encoding
- Convert to category
- https://www.kaggle.com/code/gokuleshwaran/feature-engineering-for-house-prices/edit

In [158]:
# Convert categorical columns to numerical columns
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cat_cols = x_train.select_dtypes(include='object').columns
for col in cat_cols:
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.transform(x_test[col])

# Convert y_train and y_test to numerical values
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [159]:
x_train.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
3,48.0,70.0,1.005000,4.000000,0.000000,1,0,1,0,117.0,...,11.2,32.0,6700.000000,3.900000,1,0,0,1,1,1
18,60.0,100.0,1.025000,0.000000,3.000000,1,1,0,0,263.0,...,12.7,37.0,11400.000000,4.300000,1,1,1,0,0,0
202,78.0,60.0,1.017408,1.016949,0.450142,1,1,0,0,114.0,...,8.0,24.0,8406.122449,4.707435,0,1,0,0,0,1
250,40.0,80.0,1.025000,0.000000,0.000000,1,1,0,0,140.0,...,15.0,48.0,10400.000000,4.500000,0,0,0,0,0,0
274,19.0,80.0,1.020000,0.000000,0.000000,1,1,0,0,107.0,...,14.4,44.0,8406.122449,4.707435,0,0,0,0,0,0

In [160]:
y_train

array([0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0])

# 12. Sort or Add columns 
- x_train.shape == x_valid.shape

In [161]:
# check shape of x_train, x_test, y_train, y_test
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((320, 24), (80, 24), (320,), (80,))

In [162]:
x_train.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia
3,48.0,70.0,1.005000,4.000000,0.000000,1,0,1,0,117.0,...,11.2,32.0,6700.000000,3.900000,1,0,0,1,1,1
18,60.0,100.0,1.025000,0.000000,3.000000,1,1,0,0,263.0,...,12.7,37.0,11400.000000,4.300000,1,1,1,0,0,0
202,78.0,60.0,1.017408,1.016949,0.450142,1,1,0,0,114.0,...,8.0,24.0,8406.122449,4.707435,0,1,0,0,0,1
250,40.0,80.0,1.025000,0.000000,0.000000,1,1,0,0,140.0,...,15.0,48.0,10400.000000,4.500000,0,0,0,0,0,0
274,19.0,80.0,1.020000,0.000000,0.000000,1,1,0,0,107.0,...,14.4,44.0,8406.122449,4.707435,0,0,0,0,0,0

# 13. Fit the train data into models
- compare the aaccuracy or other metrics.

In [163]:
# Evaluate the model
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score, roc_auc_score, roc_curve, auc, precision_score, recall_score
def evaluate_model(model, x_train, x_test, y_train, y_test):
    model.fit(x_train, y_train)
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    train_score = accuracy_score(y_train, y_train_pred)
    test_score = accuracy_score(y_test, y_test_pred)
    print('Train score:', train_score)
    print('Test score:', test_score)
    print('Precision_score for training set:', precision_score(y_train, y_train_pred))
    print('Precision_score for testing set:', precision_score(y_test, y_test_pred))
    print('Recall_score for training set:', recall_score(y_train, y_train_pred))
    print('Recall_score for testing set:', recall_score(y_test, y_test_pred))
    print('F1_score for training set:', f1_score(y_train, y_train_pred))
    print('F1_score for testing set:', f1_score(y_test, y_test_pred))
    print('Confusion matrix for training set:')
    print(confusion_matrix(y_train, y_train_pred))
    print('Confusion matrix for testing set:')
    print(confusion_matrix(y_test, y_test_pred))
    print('Classification report for training set:')
    print(classification_report(y_train, y_train_pred))
    print('Classification report for testing set:')
    print(classification_report(y_test, y_test_pred))

In [164]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [165]:
# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [166]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8)

In [167]:
# Support Vector Classifier
from sklearn.svm import SVC
svc = SVC(kernel='linear')

In [168]:
# K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [169]:
models = [dt, gnb, rf, svc, knn]
model_names = ['Decision Tree', 'Gaussian Naive Bayes', 'Random Forest', 'Support Vector Classifier', 'K-Nearest Neighbors']
for model, name in zip(models, model_names):
    print(name)
    evaluate_model(model, x_train, x_test, y_train, y_test)
    print('\n\n')

Decision Tree
Train score: 1.0
Test score: 0.9875
Precision_score for training set: 1.0
Precision_score for testing set: 0.9655172413793104
Recall_score for training set: 1.0
Recall_score for testing set: 1.0
F1_score for training set: 1.0
F1_score for testing set: 0.9824561403508771
Confusion matrix for training set:
[[198   0]
 [  0 122]]
Confusion matrix for testing set:
[[51  1]
 [ 0 28]]
Classification report for training set:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       198
           1       1.00      1.00      1.00       122

    accuracy                           1.00       320
   macro avg       1.00      1.00      1.00       320
weighted avg       1.00      1.00      1.00       320

Classification report for testing set:
              precision    recall  f1-score   support

           0       1.00      0.98      0.99        52
           1       0.97      1.00      0.98        28

    accuracy                           0.99        80
   macro avg       0.98      0.99      0.99        80
weighted avg       0.99      0.99      0.99        80




Gaussian Naive Bayes
Train score: 0.953125
Test score: 0.9875
Precision_score for training set: 0.8905109489051095
Precision_score for testing set: 0.9655172413793104
Recall_score for training set: 1.0
Recall_score for testing set: 1.0
F1_score for training set: 0.9420849420849421
F1_score for testing set: 0.9824561403508771
Confusion matrix for training set:
[[183  15]
 [  0 122]]
Confusion matrix for testing set:
[[51  1]
 [ 0 28]]
Classification report for training set:
              precision    recall  f1-score   support

           0       1.00      0.92      0.96       198
           1       0.89      1.00      0.94       122

    accuracy                           0.95       320
   macro avg       0.95      0.96      0.95       320
weighted avg       0.96      0.95      0.95       320

Classification report for testing set:
              precision    recall  f1-score   support

           0       1.00      0.98      0.99        52
           1       0.97      1.00      0.98        28

    accuracy                           0.99        80
   macro avg       0.98      0.99      0.99        80
weighted avg       0.99      0.99      0.99        80




Random Forest
Train score: 1.0
Test score: 1.0
Precision_score for training set: 1.0
Precision_score for testing set: 1.0
Recall_score for training set: 1.0
Recall_score for testing set: 1.0
F1_score for training set: 1.0
F1_score for testing set: 1.0
Confusion matrix for training set:
[[198   0]
 [  0 122]]
Confusion matrix for testing set:
[[52  0]
 [ 0 28]]
Classification report for training set:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       198
           1       1.00      1.00      1.00       122

    accuracy                           1.00       320
   macro avg       1.00      1.00      1.00       320
weighted avg       1.00      1.00      1.00       320

Classification report for testing set:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        52
           1       1.00      1.00      1.00        28

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80




Support Vector Classifier

Train score: 0.971875
Test score: 0.975
Precision_score for training set: 0.959349593495935
Precision_score for testing set: 0.9642857142857143
Recall_score for training set: 0.9672131147540983
Recall_score for testing set: 0.9642857142857143
F1_score for training set: 0.963265306122449
F1_score for testing set: 0.9642857142857143
Confusion matrix for training set:
[[193   5]
 [  4 118]]
Confusion matrix for testing set:
[[51  1]
 [ 1 27]]
Classification report for training set:
              precision    recall  f1-score   support

           0       0.98      0.97      0.98       198
           1       0.96      0.97      0.96       122

    accuracy                           0.97       320
   macro avg       0.97      0.97      0.97       320
weighted avg       0.97      0.97      0.97       320

Classification report for testing set:
              precision    recall  f1-score   support

           0       0.98      0.98      0.98        52
           1       0.96      0.96      0.96        28

    accuracy                           0.97        80
   macro avg       0.97      0.97      0.97        80
weighted avg       0.97      0.97      0.97        80




K-Nearest Neighbors
Train score: 0.853125
Test score: 0.725
Precision_score for training set: 0.7388535031847133
Precision_score for testing set: 0.5681818181818182
Recall_score for training set: 0.9508196721311475
Recall_score for testing set: 0.8928571428571429
F1_score for training set: 0.8315412186379928
F1_score for testing set: 0.6944444444444444
Confusion matrix for training set:
[[157  41]
 [  6 116]]
Confusion matrix for testing set:
[[33 19]
 [ 3 25]]
Classification report for training set:
              precision    recall  f1-score   support

           0       0.96      0.79      0.87       198
           1       0.74      0.95      0.83       122

    accuracy                           0.85       320
   macro avg       0.85      0.87      0.85       320
weighted avg       0.88      0.85      0.86       320

Classification report for testing set:
              precision    recall  f1-score   support

           0       0.92      0.63      0.75        52
           1       0.57      0.89      0.69        28

    accuracy                           0.72        80
   macro avg       0.74      0.76      0.72        80
weighted avg       0.79      0.72      0.73        80

In [170]:
best_model = svc
# export the model as sav file
import joblib
joblib.dump(best_model, 'kidney_disease_model')

['kidney_disease_model']

In [171]:
# Load the model
loaded_model = joblib.load('kidney_disease_model')
# Predict
y_pred = loaded_model.predict(x_test)
print('Predicted values:', y_pred)
# Interms of string
y_pred = le.inverse_transform(y_pred)
print('Predicted values:', y_pred)
# Interms of string
y_test = le.inverse_transform(y_test)
print('Actual values:', y_test)

Predicted values: [0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 1 1 1 1 0 0 1 0 1 0 1 0 0 0 0
 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 0 0 0
 1 0 0 1 0 1]
Predicted values: ['ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd'
 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'notckd' 'ckd' 'notckd' 'ckd'
 'ckd' 'notckd' 'notckd' 'notckd' 'notckd' 'ckd' 'ckd' 'notckd' 'ckd'
 'notckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd'
 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd'
 'notckd' 'notckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd'
 'notckd' 'notckd' 'ckd' 'ckd' 'ckd' 'notckd' 'notckd' 'notckd' 'ckd'
 'notckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd' 'notckd' 'ckd' 'notckd']
Actual values: ['ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'notckd' 'ckd'
 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'notckd' 'ckd' 'notckd'
 'ckd' 'ckd' 'notckd' 'notckd' 'ckd' 'notckd' 'ckd' 'ckd' 'notckd' 'ckd'
 'notckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd'
 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd'
 'notckd' 'notckd' 'ckd' 'notckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd' 'ckd'
 'notckd' 'notckd' 'ckd' 'ckd' 'ckd' 'notckd' 'notckd' 'notckd' 'ckd'
 'notckd' 'ckd' 'ckd' 'ckd' 'notckd' 'ckd' 'ckd' 'notckd' 'ckd' 'notckd']

In [172]:
x_test.columns

Index(['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
       'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
       'potassium', 'hemoglobin', 'packed_cell_volume',
       'white_blood_cell_count', 'red_blood_cell_count', 'hypertension',
       'diabetes_mellitus', 'coronary_artery_disease', 'appetite',
       'pedal_edema', 'anemia'],
      dtype='object')

In [173]:
df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [174]:
df.describe()

,age,blood_pressure,specific_gravity,albumin,sugar,blood_glucose_random,blood_urea,serum_creatinine,sodium,potassium,hemoglobin,packed_cell_volume,white_blood_cell_count,red_blood_cell_count
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
std,16.974966,13.476298,0.005369,1.272318,1.029487,74.782634,49.285887,5.617490,9.204273,2.819783,2.716171,8.151081,2523.219976,0.840314
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,42.000000,70.000000,1.015000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000,34.000000,6975.000000,4.500000
50%,54.000000,78.234536,1.017408,1.000000,0.000000,126.000000,44.000000,1.400000,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
75%,64.000000,80.000000,1.020000,2.000000,0.450142,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000,44.000000,9400.000000,5.100000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

# 14. Evaluation
- show_scores(model, x_train, x_test, y_train, y_test)
- score_dataset()
- y_preds = model.predict()
- y_probs = model.predict_proba()

In [175]:
# Nothing to add

# 15. Tune hyperparameters 
- RandomizedSearchCV
- GridSearchCV 
(on subset to reduce training time by adjusting max_samples parameter)

In [176]:
# Nothing to add